Repository Armor-test/dashboard-proxy-937, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Armor-test/squad-performance, @Armor-test/squad-apps, @Armor-test/squad-search, @Armor-test/dept-api, @Armor-test/squad-cloud, @Armor-test/team-core, @Armor-test/dept-data, @Armor-test/unit-design, @Armor-test/team-security, @Armor-test/unit-test, @Armor-test/grp-api, @Armor-test/squad-tooling, @Armor-test/dept-test, @Armor-test/squad-ux, @Armor-test/squad-database, @Armor-test/team-logging, @Armor-test/squad-product, @Armor-test/dept-security, @Armor-test/dept-billing, @Armor-test/squad-api, @Armor-test/dept-reporting, @Armor-test/dept-notifications, @Armor-test/squad-frontend, @Armor-test/squad-ml, @Armor-test/team-governance, @Armor-test/dept-logging, @Armor-test/team-research, @Armor-test/grp-storage, @Armor-test/squad-payments, @Armor-test/grp-reporting, @Armor-test/dept-ui, @Armor-test/dept-identity, @Armor-test/grp-payments, @Armor-test/dept-automation, @Armor-test/squad-reporting, @Armor-test/grp-search, @Armor-test/team-reporting, @Armor-test/squad-qa, @Armor-test/dept-reliability, @Armor-test/squad-research, @Armor-test/dept-release, @Armor-test/team-frontend, @Armor-test/squad-mobile, @Armor-test/dependency-team, @Armor-test/security, @Armor-test/ci-team, @Armor-test/devops, @Armor-test/compliance, @Armor-test/auth-team, @Armor-test/infra

.github/CODEOWNERS:

# CODEOWNERS file for dashboard-proxy-937
# Global owners - will be requested for all PRs
* @Armor-test/squad-performance @Armor-test/squad-apps @Armor-test/squad-search

# Directory ownership
/third_party/ @Armor-test/dept-api @Armor-test/squad-cloud @Armor-test/team-core
/styles/ @Armor-test/dept-data @Armor-test/unit-design @Armor-test/team-security
/models/ @Armor-test/unit-test @Armor-test/grp-api
/middleware/ @Armor-test/squad-tooling @Armor-test/dept-test
/static/ @Armor-test/squad-ux @Armor-test/team-core
/db/ @Armor-test/squad-database @Armor-test/squad-tooling
/utils/ @Armor-test/team-security @Armor-test/team-logging @Armor-test/squad-product
/core/ @Armor-test/team-core @Armor-test/dept-security @Armor-test/dept-billing
/data/ @Armor-test/team-logging @Armor-test/squad-api @Armor-test/dept-test
/test/ @Armor-test/dept-reporting @Armor-test/squad-product @Armor-test/dept-notifications
/src/ @Armor-test/squad-frontend @Armor-test/squad-ml @Armor-test/team-governance
/extensions/ @Armor-test/dept-logging @Armor-test/team-research
/examples/ @Armor-test/grp-storage @Armor-test/squad-database @Armor-test/squad-performance
/web/ @Armor-test/squad-performance @Armor-test/dept-notifications @Armor-test/squad-frontend

# File type ownership
*.css @Armor-test/dept-security @Armor-test/dept-billing @Armor-test/dept-api
*.rb @Armor-test/grp-storage @Armor-test/dept-billing
*.tsx @Armor-test/dept-billing @Armor-test/squad-payments
*.json @Armor-test/grp-reporting @Armor-test/dept-ui @Armor-test/dept-billing
*.scala @Armor-test/grp-reporting @Armor-test/dept-identity @Armor-test/grp-payments
*.scss @Armor-test/dept-automation @Armor-test/squad-apps
*.html @Armor-test/grp-storage @Armor-test/squad-reporting @Armor-test/grp-search
*.lock @Armor-test/team-reporting @Armor-test/squad-qa @Armor-test/dept-reliability
*.ts @Armor-test/squad-apps @Armor-test/dept-test @Armor-test/squad-research
*.tf @Armor-test/grp-storage @Armor-test/dept-release @Armor-test/dept-api
*.toml @Armor-test/dept-billing @Armor-test/team-reporting
*.rs @Armor-test/squad-tooling @Armor-test/team-frontend
*.java @Armor-test/squad-apps @Armor-test/team-reporting @Armor-test/squad-search
*.go @Armor-test/squad-reporting @Armor-test/team-security @Armor-test/squad-mobile

# Security and special files
package.json @Armor-test/dependency-team @Armor-test/security
Jenkinsfile @Armor-test/ci-team @Armor-test/devops
/src/**/security/ @Armor-test/security @Armor-test/compliance
/src/**/auth/ @Armor-test/security @Armor-test/auth-team
Dockerfile @Armor-test/devops @Armor-test/infra

Add src/.gitkeep
  src/.gitkeep
Owners: @Armor-test/squad-frontend, @Armor-test/squad-ml, @Armor-test/team-governance

Add docs/.gitkeep
  docs/.gitkeep
Owners: @Armor-test/squad-performance, @Armor-test/squad-apps, @Armor-test/squad-search

Add test/.gitkeep
  test/.gitkeep
Owners: @Armor-test/dept-reporting, @Armor-test/squad-product, @Armor-test/dept-notifications

Add src/main.py
  src/main.py
Owners: @Armor-test/squad-frontend, @Armor-test/squad-ml, @Armor-test/team-governance

Add src/index.js
  src/index.js
Owners: @Armor-test/squad-frontend, @Armor-test/squad-ml, @Armor-test/team-governance
